.venv
0*.md
01*files
*cache*
.vscode/*
.kiro/*
.aiassistant/*
.claude/*
.gemini/*
.antigravity/*
tasks
wiki
CLAUDE.md
.opencode/*
.idea/*
thesis_memory/*
data/*
logs/*
AGENTS*
*DS*
.ipynb_checkpoints/
.continue